<div class="card h-100">
    {{ $image := .Resources.GetMatch .Params.coverImage }}
    {{ if not $image }}
    {{ $image = resources.Get .Site.Params.placeholderImage }}
    {{ end }}
    <img src="{{ $image.RelPermalink }}" class="card-img-top" alt="{{ lower .Title }}-img">
    
        
    <div class="card-status text-end mt-2 me-2">
        {{ if eq .Params.status "complete" }}
        <span class="badge text-bg-success fs-6">Complete</span>
        {{ end }}
        {{ if eq .Params.status "active" }}
        <span class="badge text-bg-info fs-6">Active</span>
        {{ end }}
        {{ if eq .Params.status "inprogress" }}
        <span class="badge text-bg-warning fs-6">In-progress</span>
        {{ end }}
    </div>
    
    <div class="card-body pt-4">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text">{{ .Summary | markdownify }}</p>
        
        <div class="card-tags mt-5">
            {{ range .Params.tags }}
            <span class="badge rounded-pill bg-secondary">{{ . }}</span>
            {{ end }}
        </div>
    </div>
        
    <div class="card-footer d-flex flex-row justify-content-between" >
        <div class="mt-2">
            {{ if .Params.github }}
            <a href="{{ .Params.github }}" class="me-2 text-decoration-none">
                <i class="fa-brands fa-github fa-2xl text-secondary-emphasis"></i>
            </a>
            {{ end }}

            {{ if .Params.website }}
            <a href="{{ .Params.website }}" class="text-decoration-none">
                <i class="fa-solid fa-globe fa-2xl text-secondary-emphasis"></i>
            </a>
            {{ end }}
        </div>

        <a href="{{ .RelPermalink }}" class="btn btn-primary">
            Details
            <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
        </a>
    </div>
</div>