{{ define "meta_tags" }}

    <meta name="description" content="Fırat Batar's '{{ .Title }}' project">
    <meta name="keywords" content="Fırat Batar, {{ range .Params.keywords }}{{ . }}, {{ end }}">
    {{/*  Meta tags for Open Graph  */}}
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://firatbatar.com{{ .RelPermalink }}">
    <meta property="og:site_name" content="firatbatar"/>
    <meta property="og:description" content="Fırat Batar's {{ .Title }} project.">

{{ end }}

{{ define "main" }}

<div class="text-center mb-4 bg-dark-subtle">
    {{ $image := partial "util/getImage.html" . }}
    
    <img src="{{ $image.RelPermalink }}" alt="{{ lower .Title }}-img" style="max-width: 30vw; height: auto;">
</div>

<div class="container">
    <h1 class="text-center">{{ .Title }}</h1>

    <!-- Get the date of the project -->
    {{ partial "util/getDateTime.html" . }}

    <span class="ms-3">
        {{ if eq .Params.status "complete" }}
            <span class="badge text-bg-success fs-6">Complete</span>
            <button class="bg-transparent border-0 text-primary"
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ .Site.Params.status.complete }}">
                <i class="fa-solid fa-circle-question"></i>
            </button>
        {{ end }}

        {{ if eq .Params.status "active" }}
            <span class="badge text-bg-info fs-6">Active</span>
            <button class="bg-transparent border-0 text-primary"
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ .Site.Params.status.active }}">
                <i class="fa-solid fa-circle-question"></i>
            </button>
        {{ end }}

        {{ if eq .Params.status "inprogress" }}
            <span class="badge text-bg-warning fs-6">In-progress</span>
            <button class="bg-transparent border-0 text-primary"
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ .Site.Params.status.inprogress }}">
                <i class="fa-solid fa-circle-question"></i>
            </button>
        {{ end }}

    </span>

    <!-- GitHub and Website Links -->
    <div class="float-end">
        {{ if .Params.github }}
        <a href="{{ .Params.github }}" class="me-2 text-decoration-none">
            <i class="fa-brands fa-github fa-2xl text-body-emphasis"></i>
        </a>
        {{ end }}

        {{ if .Params.website }}
        <a href="{{ .Params.website }}" class="text-decoration-none">
            <i class="fa-solid fa-globe fa-2xl text-body-emphasis"></i>
        </a>
        {{ end }}
    </div>

    <br/>

    {{ range .Params.tags }}
    <span class="badge rounded-pill bg-secondary mt-2">{{ . }}</span>
    {{ end }}

    <div class="my-5 pb-5">
        {{ .Content }}
    </div>

    <script>
        // Activate Bootstrap tooltips
        $(document).ready(function(){
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
</div>

{{ end }}