{{ define "meta_tags" }}

<meta name="description" content="Fırat Batar's '{{ .Title }}' blog post">
<meta name="keywords" content="Fırat Batar, {{ range .Params.keywords }}{{ . }}, {{ end }}">
<!-- Meta tags for Open Graph -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://firatbatar.com{{ .RelPermalink }}">
<meta property="og:site_name" content="firatbatar" />
<meta property="og:description" content="Fırat Batar's {{ .Title }} blog post.">

{{ end }}

{{ define "main" }}

<div class="container">
    <h1 class="text-center mt-5">{{ .Title }}</h1>

    <!-- Tags of the post -->
    <div>
        {{ range .Params.tags }}
        <span class="badge rounded-pill bg-secondary mb-3 mt-2">{{ . }}</span>
        {{ end }}
    </div>
    
    <!-- Get the date of the post -->
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <p>
        <i class="fa-regular fa-calendar"></i>
        <i>Published on: <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time></i>
    </p>

    <div class="my-5 pb-5">
        {{ .Content }}
    </div>
</div>

{{ end }}