<section id="about" class="my-5 py-5 bg-body fs-5">
    <div class="container">
        <div class="p-5 mb-4 rounded-3">
            <div class="container-fluid py-2">
                <h1 class="text-start mb-5"><i>Latest Post</i></h1>
                {{ range first 1 .Pages }}
                    <div class="bg-body-tertiary row">
                        <div class="d-flex flex-column justify-content-between my-3" style="max-height: 100%;">
                            <h2>{{ .Title }}</h2>
                            
                            <!-- Get the date of the post -->
                            {{ partial "util/getDateTime.html" . }}

                            <div class="mb-2">
                                {{ range .Params.tags }}
                                <span class="badge rounded-pill bg-secondary">{{ . }}</span>
                                {{ end }}
                            </div>
                            <div class="my-2">
                                {{ .Summary | markdownify }}
                            </div>
                            <div class="d-flex flex-row justify-content-end mt-3">
                                <a href="{{ .RelPermalink }}" class="btn btn-primary align-self-end">
                                    Read
                                    <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>