<section id="projects">
    <div class="container">
        <div class="section-heading">
            <div>
                <span class="eyebrow mb-2">Work</span>
                <h2>{{ .Title }}</h2>
            </div>
            <div class="section-divider"></div>
            <a href="{{ .RelPermalink }}" class="btn btn-ghost d-none d-md-inline-flex">
                View all <i class="fa-solid fa-arrow-right ms-1"></i>
            </a>
        </div>

        <div id="projectsCarousel" class="carousel">
            <div class="carousel-inner">
                {{ range .Pages }}
                <div class="carousel-item">
                    {{ partial "components/card.html" . }}
                </div>
                {{ end }}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#projectsCarousel" data-bs-slide="prev" aria-label="Previous">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#projectsCarousel" data-bs-slide="next" aria-label="Next">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>

        <div class="text-center mt-4 d-md-none">
            <a href="{{ .RelPermalink }}" class="btn btn-ghost">
                View all projects <i class="fa-solid fa-arrow-right ms-1"></i>
            </a>
        </div>
    </div>
</section>
