<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    <div class="container py-4">
        <main id="main">
            {{ block "main" . }} {{ end }}
        </main>
    </div>

    {{/*  Add custom js  */}}
    {{ $color_mode_script := "js/colormode_script.js" | relURL }}
    <script src="{{ $color_mode_script }}"></script>   
    {{ $carousel_script := "js/carousel_script.js" | relURL }}
    <script src="{{ $carousel_script }}"></script>

    {{ partial "footer.html" . }}
</body>

</html>