<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    {{/*  Meta tags  */}}
    <meta name="google" content="nositelinkssearchbox">
    <meta name="googlebot" content="notranslate">
    <meta name="author" content="Fırat Batar">
    {{ block "meta_tags" . }} {{ end }}

    {{ $bootstrap_css := "bootstrap-5/css/bootstrap.min.css" | relURL }}
    <link rel="stylesheet" href="{{ $bootstrap_css }}">

    {{/*  Add custom css  */}}
    {{ $color_classes := "css/bootstrap_color_classes.css" | relURL }}
    <link rel="stylesheet" href="{{ $color_classes }}">
    {{ $color_mode_style := "css/colormode_style.css" | relURL }}
    <link rel="stylesheet" href="{{ $color_mode_style }}">
    {{ $carousel_style := "css/carousel_style.css" | relURL }}
    <link rel="stylesheet" href="{{ $carousel_style }}">
    {{ $footer_style := "css/footer_style.css" | relURL }}
    <link rel="stylesheet" href="{{ $footer_style }}">

    {{ $bootstrap_js := "bootstrap-5/js/bootstrap.bundle.min.js" | relURL }}
    <script src="{{ $bootstrap_js }}"></script>

    {{/* Add fontawsome script */}}
    <script src="https://kit.fontawesome.com/0108cca026.js" crossorigin="anonymous"></script>

    {{/*  Add jqeury  */}}
    {{ $jqeury := "jquery/jquery-3.7.1.min.js" | relURL }}
    <script src="{{ $jqeury }}"></script>
    
    <title>{{ .Title }}</title>
</head>
<body class="bg-body-secondary">
    {{ partial "header.html" . }}

    <main id="main">
        {{ block "main" . }} {{ end }}
    </main>

    {{/*  Add custom js  */}}
    {{ $color_mode_script := "js/colormode_script.js" | relURL }}
    <script src="{{ $color_mode_script }}"></script>   
    {{ $carousel_script := "js/carousel_script.js" | relURL }}
    <script src="{{ $carousel_script }}"></script>

    {{ partial "footer.html" . }}
</body>

</html>