{{ define "meta_tags" }}

    <meta name="description" content="About Fırat Batar">
    <meta name="keywords" content="Fırat Batar, about">
    <meta property="og:title" content="About Me">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="firatbatar"/>
    <meta property="og:description" content="About Fırat Batar.">

{{ end }}

{{ define "main" }}

<div class="container">
    <div class="post-header">
        <span class="eyebrow mb-2">Hello</span>
        <h1>{{ .Title }}</h1>
    </div>

    <div class="about-content mb-5" style="max-width: 840px; margin-left: auto; margin-right: auto;">
        {{ .Content }}
    </div>
</div>

{{ end }}
