<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {{/*  Meta tags  */}}
    <meta name="keywords" content="Fırat Batar">
    <meta name="description" content="Personal website Fırat Batar">
    <meta name="author" content="Fırat Batar">

    {{/*  Meta tags for Open Graph  */}}
    <meta property="og:title" content="Fırat Batar's Website">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://firatbatar.com">
    {{/*  <meta property="og:image" content="https://firatbatar.com/images/firatbatar.jpg">  */}}
    <meta property="og:description" content="Personal website Fırat Batar">


    {{ $bootstrap_css := "bootstrap-5/css/bootstrap.min.css" | relURL }}
    <link rel="stylesheet" href="{{ $bootstrap_css }}">

    {{/*  Add custom css  */}}
    {{ $color_classes := "css/bootstrap_color_classes.css" | relURL }}
    <link rel="stylesheet" href="{{ $color_classes }}">
    {{ $color_mode_style := "css/colormode_style.css" | relURL }}
    <link rel="stylesheet" href="{{ $color_mode_style }}">
    {{ $carousel_style := "css/carousel_style.css" | relURL }}
    <link rel="stylesheet" href="{{ $carousel_style }}">
    {{ $footer_style := "css/footer_style.css" | relURL }}
    <link rel="stylesheet" href="{{ $footer_style }}">

    {{ $bootstrap_js := "bootstrap-5/js/bootstrap.bundle.min.js" | relURL }}
    <script src="{{ $bootstrap_js }}"></script>

    {{/* Add fontawsome script */}}
    <script src="https://kit.fontawesome.com/0108cca026.js" crossorigin="anonymous"></script>

    {{/*  Add jqeury  */}}
    {{ $jqeury := "jquery/jquery-3.7.1.min.js" | relURL }}
    <script src="{{ $jqeury }}"></script>


    {{/*  Color mode start script  */}}
    <script>
        localStorage.setItem('color-mode', 'light');
        $('html').addClass('light');
    </script>
    <title>{{ .Title }}</title>
</head>