<nav class="navbar navbar-expand-lg py-2">
    <div class="container-fluid px-3" id="navbarNav">
        <a href="/" class="brand-link">{{ .Site.Title }}</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel" style="width: 300px;">
            <div class="offcanvas-header border-bottom" style="border-color: var(--border) !important;">
                <button id="color-mode-toggle-btn-sb" aria-label="Toggle color mode">
                    <i id="dark-mode-toggle-icon-sb" class="fa-solid fa-moon"></i>
                    <i id="light-mode-toggle-icon-sb" class="fa-solid fa-sun"></i>
                </button>
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas"
                    aria-label="Close" style="filter: var(--bs-btn-close-filter, none);"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    {{ with site.Menus.main }}
                    {{ range . }}
                    <li class="nav-item">
                        {{ if $.IsMenuCurrent .Menu . }}
                        <a class="nav-link active" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
                        {{ else }}
                        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</nav>
