{{ define "main"}}

<div class="container">
    <div id="hero" class="p-5 mb-4 rounded-3 text-center">
        <div class="container-fluid py-5">
            <h1>{{ .Title }}</h1>
            <p>{{ .Site.Params.homeText | markdownify }}</p>
        </div>
    </div>
</div>



{{ $about := .Site.GetPage "about/" }}
{{ $projects := .Site.GetPage "project/" }}

{{ if $about }}
{{ partial "sections/about.html" $about }}
{{ end }}

{{ if $projects }}
{{ partial "sections/projects.html" $projects }}
{{ end }}

{{ end }}